/* adding sf-vertical class in addition to sf-menu creates a vertical menu */
/* eg. <ul class="sf-menu sf-vertical"> ... */
.sf-vertical {
	width:	10em;
}
.sf-vertical ul {
	left:	100%;
	top:	0;
}
.sf-vertical li {
  width: 100%;
}

/*** alter arrow directions ***/
.sf-vertical .sf-sub-indicator {
  background-position: 0 0;
}

.sf-vertical li:hover > a .sf-sub-indicator,
.sf-vertical li.sfHover > a .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}