<!DOCTYPE html>
<html>
<head>
	<title>Jasmine Spec Runner</title>

	<% css.forEach(function(style){ %>
	<link rel="stylesheet" href="<%= style %>">
	<% }) %>

	<style>
		.jasmine_reporter {
			clear: both;
		}
	</style>

	<% with (scripts) { %>
	<% [].concat(jasmine, vendor, helpers, src, specs, reporters, start).forEach(function(script){ %>
	<script src="<%= script %>"></script>
	<% }) %>
	<% }; %>

</head>

<body>
	<div id="jasmine_content">

		<ul class="sf-menu" id="example">
			<li class="current">
				<a href="followed.html">menu item 1</a>
				<ul>
					<li>
						<a href="followed.html">menu item</a>
					</li>
					<li class="current">
						<a href="followed.html">long menu item sets sub width</a>
						<ul>
							<li class="current"><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
						</ul>
					</li>
					<li>
						<a href="followed.html">menu item</a>
						<ul>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
						</ul>
					</li>
					<li>
						<a href="followed.html">menu item</a>
						<ul>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a href="followed.html">menu item 2</a>
			</li>
			<li>
				<a href="followed.html">menu item 3</a>
				<ul>
					<li>
						<a href="followed.html">menu item</a>
						<ul>
							<li><a href="followed.html">short</a></li>
							<li><a href="followed.html">short</a></li>
							<li><a href="followed.html">short</a></li>
							<li><a href="followed.html">short</a></li>
							<li><a href="followed.html">short</a></li>
						</ul>
					</li>
					<li>
						<a href="followed.html">menu item</a>
						<ul>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
						</ul>
					</li>
					<li>
						<a href="followed.html">menu item</a>
						<ul>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
						</ul>
					</li>
					<li>
						<a href="followed.html">menu item</a>
						<ul>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
						</ul>
					</li>
					<li>
						<a href="followed.html">menu item</a>
						<ul>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a href="followed.html">menu item 4</a>
			</li> 
		</ul>
		
	</div>
</body>
</html>
